In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("web.csv")

In [8]:
df.head()

,Verse ID,Book Name,Book Number,Chapter,Verse,Text
0,1,Genesis,1,1,1,In the beginning God created the heavens and t...
1,2,Genesis,1,1,2,Now the earth was formless and empty. Darkness...
2,3,Genesis,1,1,3,"God said, ""Let there be light,"" and there was ..."
3,4,Genesis,1,1,4,"God saw the light, and saw that it was good. G..."
4,5,Genesis,1,1,5,"God called the light ""day,"" and the darkness h..."

In [10]:
df["Reference"] = df["Book Name"] + " " + df["Chapter"].astype(str) + ":" + df["Verse"].astype(str)

In [12]:
df.to_csv('web_reference.csv', index=False)