In [14]:
import pandas as pd
from sentence_transformers import SentenceTransformer, util

In [15]:
df = pd.read_csv("../data/web_reference.csv")

In [16]:
df

,Verse ID,Book Name,Book Number,Chapter,Verse,Text,Reference
0,1,Genesis,1,1,1,In the beginning God created the heavens and t...,Genesis 1:1
1,2,Genesis,1,1,2,Now the earth was formless and empty. Darkness...,Genesis 1:2
2,3,Genesis,1,1,3,"God said, ""Let there be light,"" and there was ...",Genesis 1:3
3,4,Genesis,1,1,4,"God saw the light, and saw that it was good. G...",Genesis 1:4
4,5,Genesis,1,1,5,"God called the light ""day,"" and the darkness h...",Genesis 1:5
...,...,...,...,...,...,...,...
31098,31099,Revelation,66,22,17,"The Spirit and the bride say, ""Come!"" He who h...",Revelation 22:17
31099,31100,Revelation,66,22,18,I testify to everyone who hears the words of t...,Revelation 22:18
31100,31101,Revelation,66,22,19,If anyone takes away from the words of the boo...,Revelation 22:19
31101,31102,Revelation,66,22,20,"He who testifies these things says, ""Yes, I co...",Revelation 22:20
31102,31103,Revelation,66,22,21,The grace of the Lord Jesus Christ be with all...,Revelation 22:21

In [17]:
#Load the model
model = SentenceTransformer('sentence-transformers/multi-qa-mpnet-base-cos-v1')

In [18]:
df["embedding"] = list(model.encode(df["Text"].tolist()))

In [19]:
df.to_csv("../data/web_embedding.csv", index=False)

In [20]:
df = pd.read_csv("../data/web_embedding.csv")

df

,Verse ID,Book Name,Book Number,Chapter,Verse,Text,Reference,embedding
0,1,Genesis,1,1,1,In the beginning God created the heavens and t...,Genesis 1:1,[ 2.71528796e-03 7.72240979e-04 -3.24674062e-...
1,2,Genesis,1,1,2,Now the earth was formless and empty. Darkness...,Genesis 1:2,[-1.06296623e-02 -1.08754430e-02 -5.27610956e-...
2,3,Genesis,1,1,3,"God said, ""Let there be light,"" and there was ...",Genesis 1:3,[ 0.05669005 -0.01378601 -0.04731293 0.001382...
3,4,Genesis,1,1,4,"God saw the light, and saw that it was good. G...",Genesis 1:4,[ 9.35679767e-03 -1.31393252e-02 -2.99989283e-...
4,5,Genesis,1,1,5,"God called the light ""day,"" and the darkness h...",Genesis 1:5,[ 4.64832522e-02 -3.15189399e-02 -7.05922162e-...
...,...,...,...,...,...,...,...,...
31098,31099,Revelation,66,22,17,"The Spirit and the bride say, ""Come!"" He who h...",Revelation 22:17,[ 4.82144877e-02 1.29956696e-02 -2.93003507e-...
31099,31100,Revelation,66,22,18,I testify to everyone who hears the words of t...,Revelation 22:18,[ 4.08991128e-02 6.06632121e-02 -2.00544707e-...
31100,31101,Revelation,66,22,19,If anyone takes away from the words of the boo...,Revelation 22:19,[ 2.15195641e-02 7.09212124e-02 -3.02599408e-...
31101,31102,Revelation,66,22,20,"He who testifies these things says, ""Yes, I co...",Revelation 22:20,[-1.55501105e-02 1.40459547e-02 -4.75532897e-...
31102,31103,Revelation,66,22,21,The grace of the Lord Jesus Christ be with all...,Revelation 22:21,[ 2.66504474e-02 1.12175848e-02 -2.96310894e-...

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31103 entries, 0 to 31102
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Verse ID     31103 non-null  int64
 1   Book Name    31103 non-null  object
 2   Book Number  31103 non-null  int64
 3   Chapter      31103 non-null  int64
 4   Verse        31103 non-null  int64
 5   Text         31098 non-null  object
 6   Reference    31103 non-null  object
 7   embedding    31103 non-null  object
dtypes: int64(4), object(4)
memory usage: 1.9+ MB

In [23]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Verse ID,31103.0,15552.000000,8978.807048,1.0,7776.5,15552.0,23327.5,31103.0
Book Number,31103.0,22.496865,16.496071,1.0,9.0,19.0,40.0,66.0
Chapter,31103.0,20.630904,23.408126,1.0,6.0,14.0,26.0,150.0
Verse,31103.0,17.043533,14.075094,1.0,7.0,14.0,23.0,176.0